__pycache__/
data/adv_imgs/
data/api_results/
env/
venv/
faceoff.egg-info/
fileio/
data/new_adv_imgs/
data/old_api_results/
data/lfw-aligned-96/
data/lfw-aligned/
data/test_imgs/lfw/
weights/FRmodel.h5
weights/face_model_caffe_converted.h5
weights/facenet_casia.h5
weights/facenet_keras.h5
weights/facenet_keras_center_weights.h5
weights/facenet_keras_weights.h5
weights/facenet_vggsmall.h5
weights/small_facenet_center.h5
tcav/cavs
tcav/activations
tcav/backup
tcav/faces
tcav/concepts
tcav/tcav_scores
lipschitz/customrecurjac/models
lipschitz/customrecurjac/cifar-10-batches-bin
lipschitz/customrecurjac/data
lipschitz/lipEstimation
lipschitz/RecurJac-and-CROWN
lipschitz/LipSDP
lipschitz/CLEVER
weights/
tcav/for_scp/
